body {
  margin: 0px;
  padding: 0px;
  background-color: #dddddd; }

.grid-2x3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.menu {
  z-index: 101;
  position: fixed;
  background-color: cornflowerblue;
  height: 240px;
  width: 50vw;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 100vw;
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 0px 0px 0px 10px; }
  .menu i.material-icons {
    text-align: right;
    width: 50vw; }
  .menu img {
    display: none; }

.menu > ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px; }
  .menu > ul li {
    text-align: center;
    margin-left: 0px; }
    .menu > ul li a {
      color: white;
      text-align: center;
      margin-left: 0px;
      text-decoration: none; }

.show {
  left: 50vw; }

.fade {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.0;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none; }

.showFade {
  opacity: 0.5;
  pointer-events: auto; }

.menuButton {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 100; }

aside {
  background-color: #aeb6be;
  padding: 8px;
  padding-top: 0px;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4); }

.codeWindow {
  grid-column: span 2;
  grid-row: span 1; }
  .codeWindow .textEditor {
    background-color: #303030;
    width: 70%;
    height: 100%;
    float: left;
    border-radius: 10px 0px 0px 10px;
    padding: 0%; }
  .codeWindow .outPutWindow {
    background-color: #aeb6be;
    width: 30%;
    height: 100%;
    float: right;
    border-radius: 0px 10px 10px 0px;
    padding: 0px; }
    .codeWindow .outPutWindow img {
      width: 50px !important;
      height: auto;
      margin: 0px;
      margin-top: 2vh;
      padding: 0px; }

footer {
  background-color: cornflowerblue;
  width: 100vw;
  height: 20vh;
  margin-top: 100px; }

@media only screen and (min-device-width: 799px) {
  .menu {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-bottom: 10vh;
    border-radius: 0px; }
    .menu i.material-icons {
      display: none; }
    .menu ul {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    .menu ul > li {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      float: left;
      margin: 0px;
      margin-left: 30px; }
    .menu img {
      display: block;
      float: left;
      height: 8vh;
      width: auto;
      margin-left: 40px;
      margin-top: 1vh; }

  .menuButton {
    display: none; }

  .fade {
    display: none; }

  .container {
    width: 60vw;
    margin-left: 20vw; }

  .body {
    width: 100vw; }

  footer {
    width: 100%; } }
i.material-icons {
  font-size: 15vw;
  color: red; }

p {
  font-family: "Calibri";
  color: #000; }

h2 {
  font-family: "Consolas";
  font-size: 20px; }

li {
  font-family: "Consolas";
  font-size: 30px; }

.index {
  margin-top: 8vh;
  margin-left: 2vw;
  margin-right: 2vw;
  grid-row-gap: 17vh;
  grid-column-gap: 5vw; }
  .index > img:first-of-type {
    grid-row: span 1;
    grid-column: 1 / 2;
    width: 40vw;
    margin-left: 5vw;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 105%; }

.index > p:first-of-type {
  grid-row: span 1;
  grid-column: 2 / 3;
  margin-top: auto;
  margin-bottom: auto;
  color: #FFF;
  font-style: normal; }

.bg-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100; }
  .bg-wrapper img {
    width: 100vw; }

p.mock-code {
  font-family: "Consolas";
  font-size: 14px;
  color: #DDDDDD;
  margin: 6%; }
  p.mock-code span.keyword {
    color: #00EEEE; }

@media only screen and (min-device-width: 799px) {
  .index {
    margin-top: 16vh;
    margin-left: 0px; }
    .index > img:first-of-type {
      width: 10vw;
      align-self: right;
      margin: auto; }

  .bg-wrapper {
    width: 100%;
    height: 100vh; }
    .bg-wrapper img {
      position: absolute;
      bottom: 200px;
      left: -20px; } }
