<div class="bg-wrapper">
    <img src="./img/WavyBackGround.svg" alt="" srcset="" preserveAspectRatio="none">
</div>
<main class="grid-3x2 docs">
    <h1>Docs</h1>
    <h2>Classes:</h2>
    <ul class="all-classes">
        <li>
            <div id="b1" onclick="expandClassList(this.id)" class="class-button">
                <h3>Emote</h3>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
            <div id="l1" class="class-list">
                <ul class="class-ul">
                    <li><a href="http://www.gurka.se"></a>Kappa</li>
                    <li><a href="http://www.gurka.se"></a>PogChamp</li>
                    <li><a href="http://www.gurka.se"></a>KKona</li>
                    <li><a href="http://www.gurka.se"></a>4head</li>
                </ul>
            </div>
        </li>
        <li>
            <div id="b2" onclick="expandClassList(this.id)" class="class-button">
                <h3>BttvEmote</h3>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
            <div id="l2" class="class-list">
                <ul class="class-ul">
                    <li><a href="http://www.gurka.se"></a>OmegaLul</li>
                    <li><a href="http://www.gurka.se"></a>FeelsGoodMan</li>
                    <li><a href="http://www.gurka.se"></a>MonkaS</li>
                    <li><a href="http://www.gurka.se"></a>haHaa</li>
                </ul>
            </div>
        </li>
        <li>
            <div id="b3" onclick="expandClassList(this.id)" class="class-button">
                <h3>GifEmote</h3>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
            <div id="l3" class="class-list">
                <ul class="class-ul">
                    <li><a href="http://www.gurka.se"></a>Coggers</li>
                    <li><a href="http://www.gurka.se"></a>Monka</li>
                    <li><a href="http://www.gurka.se"></a>KKong</li>
                    <li><a href="http://www.gurka.se"></a>VVKool</li>
                </ul>
            </div>
        </li>
        <li>
            <div id="b4" class="class-button">
                <h3>SubEmote</h3>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </li>
        <li>
            <div id="b5" class="class-button">
                <h3>FrankerzEmote</h3>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </li>
        <li>
            <div id="b6" class="class-button">
                <h3>GlobalEmote</h3>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </li>
        <li>
            <div id="b7" class="class-button">
                <h3>HolidayEmote</h3>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </li>
    </ul>
</main>