<main class="grid-2x3 index">
    <img src="./img/logo.png" alt="Poggers Js">
    <p>
        Enhance your development through integration of 
        BTTV with Poggers, the new 
        flexible JS framework.
    </p>

    <aside>
        <h2>
            Emotes
        </h2>
        <p>
            All emotes from Better Twitch.Tv are availible
            at any time through our servers via API-requests.
            This includes all global and channel specific
            image and gif emotes such as Coggers and Feelsgoodman. 
        </p>
    </aside>
    <aside>
        <h2>
            Performance
        </h2>
        <p>
            We guarantee the best performance through
            our multitude of servers which are always up
            no matter the time of day. Emotes are also
            availible for caching if you don't feel like
            using the internet.
        </p>
    </aside>
    <div class="codeWindow">
        <div class="textEditor">
            <textarea name="editor" id="editor1" cols="30" rows="10"></textarea>
        </div>
        <div class="outPutWindow"></div>
    </div>
</main>