<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="menuButton" onclick="toggleMenu()">
        <i class="material-icons">menu</i>
    </div>
    <div class="container">
        <nav class="menu">
            <img src="./img/logo.png" alt="Poggers Js">
            <i class="material-icons" onclick="toggleMenu()">close</i>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="docs.html">Docs</a></li>
                <li><a href="">Get started</a></li>
                <li><a href="">Github</a></li>
            </ul>
        </nav>
        <%= yield%>
    </div>
    <footer>
        <p>Source code: <a href="https://github.com/jezen/is-thirteen">https://github.com/jezen/is-thirteen</a></p>
        <p>Contact Me: vincent.uden@itggot.se</p>
        <p>Copyright © 2018 Twitch.Tv</p>
    </footer>
    <script src="./js/menuToggle.js"></script>
</body>
</html>
