.index {
    margin-top:      8vh;
    margin-left:     2vw;
    margin-right:    2vw;
    grid-row-gap:    17vh;
    grid-column-gap: 5vw;

    &>img:first-of-type {
        grid-row: span 1;
        grid-column: 1 / 2;

        width: 40vw;
        margin-left: 5vw;
        margin-top: auto;
        margin-bottom: auto;

        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
        border-radius: 105%;
    }
}

.index>p:first-of-type {
    grid-row: span 1;
    grid-column: 2 / 3;
    
    margin-top: auto;
    margin-bottom: auto;
    color: #FFF;
    font-style: normal;
}

.bg-wrapper {
    img {
        width: 100vw;
    }
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: -100;
}

p.mock-code {
    font-family: $mono-font;
    font-size: 14px;
    color: #DDDDDD;
    margin: 6%;
    span.keyword {
        color: #00EEEE;
    }
}

