@import '_vars.scss';

i.material-icons {
    font-size: 15vw;
    color: $secondary-color;
}

p {
    font-family: $primary-font;
    color: #000;
}

p.mock-code {
    font-family: $mono-font;
    font-size: 14px;
    color: #DDDDDD;
    margin: 6%;
    span.keyword {
        color: #00EEEE;
    }
    span.comment {
        color: #818181;
    }
}

h1 {
    font-family: $header-font;
    font-size: 70px;
    color: white;
}

h2 {
    font-family: $header-font;
    font-size: 40px;
    color: #131313;
}

h3 {
    font-family: $primary-font;
    font-size: 30px;
    font-style: none;
    font-weight: normal;
}

li {
    font-family: $primary-font;
    font-size: 20px;
}
