$primary-color: #004F6B;
$secondary-color: #FF8708;
$tertiary-color: rgb(174, 182, 190);

$primary-font: 'Open Sans', sans-serif;
$header-font: 'Nunito', sans-serif;;
$mono-font: 'Ubuntu Mono', monospace;
