$primary-color: #004F6B;
$secondary-color: #FF8708;
$tertiary-color: #7DC4FF;
$color-4: #3B96B8;
$color-5: #D67E13;

$primary-font: 'Open Sans', sans-serif;
$header-font: 'Nunito', sans-serif;;
$mono-font: 'Ubuntu Mono', monospace;
